header.main-header
    // Logo
    a.logo(href="index2.html")
        // mini logo for sidebar mini 50x50 pixels
        span.logo-mini
            b A
            | LT
        // logo for regular state and mobile devices
        span.logo-lg
            b 爱空间
            | 成本管理
    // Header Navbar
    nav.navbar.navbar-static-top(role="navigation")