// Left side column. contains the logo and sidebar
aside.main-sidebar
    // sidebar: style can be found in sidebar.less
    section.sidebar
        // Sidebar Menu
        ul.sidebar-menu
            li.treeview
                a(href="#")
                    i.fa.fa-link
                    span 基础数据管理
                    i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a(href="/add_room_type")
                            i.fa.fa-circle-o 户型
                    li
                        a(href="#") 面积
                    li
                        a(href="#") 户型空间
        // /.sidebar-menu
    // /.sidebar